# Visual Studio
.vs/
.vscode/

# .NET
**/bin/
**/obj/

# Angular
frontend/mediscope-ui/node_modules/
frontend/mediscope-ui/.angular/
frontend/mediscope-ui/dist/

# Uploaded documents
backend/MediScope.API/wwwroot/documents/

# Local development configuration (contains secrets)
backend/MediScope.API/appsettings.Development.json