<h2 mat-dialog-title>Book New Appointment</h2>
<mat-dialog-content>
  <form [formGroup]="bookingForm" class="dialog-form" style="display: flex; flex-direction: column; gap: 10px; margin-top: 10px;">
    
    <mat-form-field appearance="outline">
      <mat-label>Select Patient</mat-label>
      <mat-select formControlName="patientId">
        <mat-option *ngFor="let p of patients" [value]="p.patientId">{{ p.fullName }}</mat-option>
      </mat-select>
    </mat-form-field>

    <div style="display: flex; gap: 16px;">
      <mat-form-field appearance="outline" style="flex: 1;">
        <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="startTime" [min]="minDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" style="flex: 1;">
        <mat-label>Time (HH:MM)</mat-label>
        <input matInput type="time" formControlName="timeString">
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>Duration</mat-label>
      <mat-select formControlName="durationMinutes">
        <mat-option [value]="10">10 Minutes</mat-option>
        <mat-option [value]="20">20 Minutes</mat-option>
        <mat-option [value]="30">30 Minutes</mat-option>
        <mat-option [value]="45">45 Minutes</mat-option>
        <mat-option [value]="60">1 Hour</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Doctor Notes</mat-label>
      <textarea matInput formControlName="doctorNotes" rows="2"></textarea>
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="bookingForm.invalid">Book Slot</button>
</mat-dialog-actions>